
@font-face {
    font-family:"SohoGothicPro-LightItalic";
    src:url("SohoGothicPro-LightItalic.woff2") format("woff2"),url("SohoGothicPro-LightItalic.woff") format("woff"),url("SohoGothicPro-LightItalic.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        