
@font-face {
    font-family:"SohoGothicPro-BoldItalic";
    src:url("SohoGothicPro-BoldItalic.woff2") format("woff2"),url("SohoGothicPro-BoldItalic.woff") format("woff"),url("SohoGothicPro-BoldItalic.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        